$defaultLinkFontSize: 18px;
$defaultLinkFontweight: 500;
$defaultLinkLineHeight: 21px;
$secondaryLinkColor: #BDBDBD;
$secondaryDefaultColor: #4F4F4F;
$contentBackgroundColor: #FFFFFF;
$titleFontWeight: 600;