@import "./normalize";
@import "./scafolding";
@import "./fonts/stylesheet";
@import "./basket";

.nav {
    background: #FFFFFF;
    padding-top: 33px;
    padding-bottom: 46px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-section-logo {
    display: flex;
    align-items: center;
    margin-bottom: 57px;
}

.space-links {
    margin-top: 59px;
}

.handset {
    margin-right: 11px;
}


.tel-link {
    text-decoration: none;
    color: black;
}

.tel {
    margin-right: 60px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.basket {
    margin-right: 15px;
}

.header-section {
    position: relative;
    display: flex;
    align-items: center;
}

.header-section a:nth-child(1) {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #4F4F4F;
    text-decoration: none;
}

.header-section a:nth-child(2) {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #4F4F4F;
    text-decoration: none;
    margin-right: 40px;
}

.header-section a:nth-child(3) {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #4F4F4F;
    text-decoration: none;
    margin-right: 40px;
}

.header-section a:nth-child(4) {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #4F4F4F;
    text-decoration: none;
}

.catalog::after {
    content:url('./images/vector-back.png');
    margin-right: 43px;
    margin-left: 7px;
    width: 9px;
    height: 5px;
    color: #4F4F4F;
}

.input-first {
    padding: 17px 0 16px 20px;
    width: 345px;
    height: 54px;
    left: 1273px;
    top: 120px;
    background: #F2F2F2;
    border: 1px solid #BDBDBD;
    border-radius: 10px;
}

.search {
    position: absolute;
    left: 85%;
}

.main {
    font-size: 0;
    padding-top: 75px;
    background: #E5E5E5;
}

.span-item {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #BDBDBD;
    text-decoration: none;
}

.span-item:nth-child(1)::after {
    margin-left: 15px;
    margin-right: 14px;
    content:url('./images/dot.png');
    width: 6px;
    height: 6px;
    color: #BDBDBD;
    text-decoration: none;
}

.go-back {
    display: block;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
    margin-top: 30px;
    margin-bottom: 44px;
    text-decoration: none;
}

.go-back::before {
    margin-right: 10px;
    content:url('./images/vector-back.png');
    color: #3FCF5E;
    margin-bottom: 30px;
}

.card-box {
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 46px 20px;
    margin-bottom: 50px;
}

.card-settings {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 20px;
    background: #F9F9F9;
    padding: 20px 20px 30px;
}

.img {
    width: 275px;
    height: 227px;
    margin-bottom: 25px;
    border-radius: 5px;
}

.card-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    color: #333333;
    margin-bottom: 5px;
    margin-top: 0px;
}

.bird-food {
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #828282;
}

.food-price {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #333333;
    margin-bottom: 25px;
}

.bottom-of-car {
    display: flex;
    justify-content: space-between;
    margin-bottom: 29px;
}

.flex-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 29px;
}

.button {
    padding: 12px 32px;
    background: #3FCF5E;
    border: 1px solid rgba(5, 175, 52, 0.53);
    border-radius: 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.cart {
    width: 46px;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    border-radius: 10px;
}

.link-numbers {
    margin-bottom:100px;
    text-decoration: none;
    text-align: center;
}

.link-numbers::before {
    content:url('./images/arrow-left.png');
    width:10.67px;
    height:6px;
    color: #333333;
    margin-right: 30px;
}

.link-numbers::after {
    content:url('./images/arrow-right.png');
    width:10px;
    height:6px;
    color: #333333;
    margin-left: 30px;
}

.link-numbers a {
    margin-right: 20px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #828282;
    text-decoration: none;
}

.link-numbers a:last-child {
    margin-right: 0;
}

div.link-numbers a.active:active {
    color: green;
}